{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid mt-4">
        <div class="row">
            {% for activity_type in activity_types %}
                 <div class="col-xl-3 col-md-6 mb-4">
                        <a href="{% url 'activity-list' %}?type={{ activity_type.id }}&exclude=1">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                {{ activity_type.name}}
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ activity_type.count }}</div>
                                        </div>
                                        <div class="col-auto">
                                           <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}