{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">Semua Kegiatan</div>
                    <div class="card-body">
                        <div class="row">
                            {% for activity in activities %}
                                <div class="col">
                                    <div class="card mb-2" style="width: 18rem;">
                                        <img class="card-img-top" src="{{ activity.ActivityImage.url }}"
                                             width="286" height="180">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                {{ activity.ActivityType }} <span
                                                    class="badge {{ activity.status.badge }}">{{ activity.status.value }}</span>
                                            </h5>

                                            <h6 class="card-subtitle mb-2 text-muted">{{ activity.ActivityDateTime }}</h6>
                                           {% if user.id != activity.ManagerialUser_id %}
                                                <p class="card-text text-muted">Pelaksana = {{ activity.userManagerial.first_name }}</p>
                                            {% endif %}
                                            <p class="card-text text-muted">Kegiatan
                                                = {{ activity.ActivityDetail }}</p>
                                            <p class="card-text text-muted">Hasil
                                                = {{ activity.ActivityResult }}</p>
                                        {% if perms.managementactivity.update_activity_status and user.id != activity.ManagerialUser_id %}
                                         <a href="{% url 'activity-update-status' activity.id %}"
                                               class="btn btn-secondary">Beri Penilaian</a>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}