{% extends 'base/base.html' %}
{% load static %}
{% block pagejs %}
    <script type="application/javascript">
        $(document).ready(function () {

            let textRejectedReason = $('#rejectedReason')
            textRejectedReason.hide()

            $('#activityStatus').change(function () {
                let selectedValue = $(this).val();
                if (selectedValue === "0") {
                   textRejectedReason.show()
                } else {
                    textRejectedReason.hide()
                }
            });

        });
    </script>
{% endblock %}
{% block content %}
    <div id="content-wrapper" class="d-flex flex-column">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <a class="navbar-brand" href="{% url 'dashboard' %}">Aktivitas Manajerial</a>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <div class="topbar-divider d-none d-sm-block"></div>
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-lg-inline text-gray-600 small">
                             {% if user.is_authenticated %}
                                 Selamat Datang , {{ user.first_name }}
                             {% endif %}
                        </span>
                        <img class="img-profile rounded-circle"
                             src="{% static 'img/undraw_profile.svg' %}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                        <a class="dropdown-item" href="/logout/">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>

        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <form method="POST" class="form-validate" enctype="multipart/form-data">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">Ubah Status</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">

                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Jenis Kegiatan</label>
                                            <select class="form-control" id="exampleFormControlSelect1"
                                                    name="activityType" disabled>
                                                {% for activityType in activityTypes %}
                                                    <option value="{{ activityType.id }}">{{ activityType.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Detail Kegiatan</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                      rows="3" name="activityDetail"
                                                      disabled>{{ activity.ActivityDetail }}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Hasil Kegiatan</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                      rows="3" name="activityResult"
                                                      disabled>{{ activity.ActivityResult }}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <input id="activityDatePicker" width="312" name="activityDateTime"
                                                   value="{{ activity.ActivityDateTime }}"
                                                   disabled/>
                                        </div>
                                        <div class="form-group">
                                            <img src="{{ activity.ActivityImage.url }}" width="286" height="180">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Status</label>
                                            <select class="form-control" id="activityStatus"
                                                    name="activityType" required>
                                                <option value="">Pilih Status</option>
                                                <option value=0>Tolak</option>
                                                <option value=1>Setujui</option>
                                            </select>
                                        </div>
                                        <div class="form-group" id="rejectedReason">
                                            <label for="exampleFormControlTextarea1">Alasan Di Tolak</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                      rows="3" name="rejectedReason"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer py-4">
                                <a href="{% url 'activity-list' %}" class="btn btn-primary float-left">
                                    Batal
                                </a>
                                <button type="submit" class="btn btn-primary float-right">
                                    Ubah
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'activity-create' %}" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50"><i class="fas fa-pencil-alt"></i></span>
                            <span class="text">Tambah Kegiatan</span>
                        </a>
                        <a href="{% url 'activity-list' %}" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50"><i class="fas fa-briefcase"></i></span>
                            <span class="text">Kegiatan Saya</span>
                        </a>
                        <button type="button" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50"><i class="fas fa-chart-bar"></i></span>
                            <span class="text">Lihat Statistik</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}