{% extends 'base/base.html' %}
{% load static %}
{% block pagejs %}
    <script type="application/javascript">
        $(document).ready(function () {

            let textRejectedReason = $('#rejectedReason')
            textRejectedReason.hide()

            $('#activityStatus').change(function () {
                let selectedValue = $(this).val();
                if (selectedValue === "0") {
                    textRejectedReason.show()
                } else {
                    textRejectedReason.hide()
                }
            });

        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form method="POST" class="form-validate" enctype="multipart/form-data">
                    <div class="card mb-1 border-0">
                        <div class="card-header py-3">Ubah Status</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">

                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Jenis Kegiatan</label>
                                        <select class="form-control" id="exampleFormControlSelect1"
                                                name="activityType" disabled>
                                            {% for activityType in activityTypes %}
                                                <option value="{{ activityType.id }}">{{ activityType.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Detail Kegiatan</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                  rows="3" name="activityDetail"
                                                  disabled>{{ activity.ActivityDetail }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Hasil Kegiatan</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                  rows="3" name="activityResult"
                                                  disabled>{{ activity.ActivityResult }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <input id="activityDatePicker" width="312" name="activityDateTime"
                                               value="{{ activity.ActivityDateTime }}"
                                               disabled/>
                                    </div>
                                    <div class="form-group">
                                        <img src="{{ activity.ActivityImage.url }}" width="286" height="180">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Status</label>
                                        <select class="form-control" id="activityStatus"
                                                name="activityType" required>
                                            <option value="">Pilih Status</option>
                                            <option value=0>Tolak</option>
                                            <option value=1>Setujui</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="rejectedReason">
                                        <label for="exampleFormControlTextarea1">Alasan Di Tolak</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                  rows="3" name="rejectedReason"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer py-4">
                            <a href="{% url 'activity-list' %}" class="btn btn-primary float-left">
                                Batal
                            </a>
                            <button type="submit" class="btn btn-primary float-right">
                                Ubah
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}