{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col">
                <div class="card border-0 shadow my-3">
                    <div class="card-body p-0">
                        <div class="row justify-content-center">
                            <div class="col-auto my-auto">
                                <div class="p-3">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Daftar Setting</h1>
                                    </div>
                                    <div class="col-auto mt-3 mb-3">
                                        <a href="{% url 'incomesetting-create' %}" class="btn btn-primary btn-sm">Tambah</a>
                                    </div>
                                    <table class="table table-striped table-responsive">
                                        <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Key</th>
                                            <th scope="col">Value</th>
                                            <th scope="col">type</th>
                                            <th scope="col" colspan="2">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for setting in income_settings %}
                                        <tr>
                                            <td>{{ setting.key }}</td>
                                            <td>{{ setting.value }}</td>
                                            <td>{{ setting.type }}</td>
                                            <td>
                                                <a href="{% url 'incomesetting-read' setting.id %}" class="btn btn-warning">Ubah</a>
                                            </td>
                                            <td>
                                                <a href="{% url 'incomesetting-delete' setting.id %}" class="btn btn-danger">Hapus</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}