{% extends 'base/base.html' %}
{% load static %}
{% block pagejs %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('#successAlert').hide()
            $('#errorAlert').hide()
        })
    </script>
    <script type="application/javascript" src="{% static 'js/actions/income_settings/update.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card border-0 shadow my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col">
                                <div class="p-3">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Ubah Setting</h1>
                                    </div>
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        {% for field in forms %}
                                            <div class="form-group">
                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                        <a href="{% url 'incomesetting-view' %}" class="btn btn-secondary">
                                            Batal
                                        </a>
                                        <button type="button" class="btn btn-primary" onclick="createSetting()"
                                                id="btnSaveSetting">
                                            Simpan
                                        </button>
                                    </form>
                                    <div class="alert alert-success mt-2" id="successAlert" role="alert">
                                        Data Berhasil Di Simpan
                                    </div>
                                    <div class="alert alert-danger mt-2" id="errorAlert" role="alert">
                                        Data Berhasil Di Simpan
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}